<?xml version="1.0" encoding="utf-8">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link style="text/css" rel="stylesheet" href="/static/codehilite.css">
    <link style="text/css" rel="stylesheet" href="/static/programme.css">
    <title> {% block title %} This is my blog {% endblock %} </title>
</head>
<body>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header">
                <div id="logo">
                    <h1><a href="/">{{ config.title }}</a></h1>
                    <p> {{ config.subtitle }} </p>
                </div>
                <div id="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end #header-wrapper -->
        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">
                    <div id="content">
                        {% block content %}{% endblock content %}
                    </div>
                    <!-- end #content -->
                    <div id="sidebar">
                        <ul>
                            {% if config.license %}
                            <li>
                                <h2>License</h2>
                                <p>
                                {{ config.license|safe }}
                                </p>
                            </li>
                            {% endif %}

							<li>
								<h2>Feed</h2>
								<ul>
									<li> <a href="/feed/">RSS</a> </li>
								</ul>
							</li>

                            {% if poptags %}
                            <li>
                                <h2>Popular Tags</h2>
                                <ul>
                                    {% for tag in poptags %}
                                    <li><a href="/tag/{{ tag.id }}">{{ tag.tag }} ({{ tag.nr_refs }})</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- end #sidebar -->
                    <div style="clear: both;">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
		<p>Copyright &copy; 2012 <a href="{{ config.link }}">{{ config.domain_name }}</a>. Design by <a href="http://www.freecsstemplates.org/">CSS Templates.</a><br>
		</br>The <a href="http://github.com/monnand/myblog">source code</a> of this weblog site is under Apache 2.0 lisence which comes with the source code </p>
    </div>
</body>
</html>
