{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% load markup %}

{% block content %}

<div class="postslist">
{% for post in posts %}
<div class="blogpost">
    <div class="postheader">
        <h1>{{ post.title }}</h1>
    </div>
    <div class="postcontent">
        {# {{ post.content|markdown:'safe,codehilite,headerid(level=2),footnotes' }} #}
        {{ post.content_html|safe }}
    </div>
    <div class="postinfo">
            Posted by 
            <a href="author/{{ post.author.name }}">{{ post.author.name }}</a> at 
            {{ post.created|date:"SHORT_DATETIME_FORMAT" }}
        </ul>
    </div>
</div>
{% endfor %}
</div>

<div class="pagelist">
    pages: 
    {% for pgn in pages %}
    <a href="/l/{{pgn}}/{{postsperpage}}/">{{pgn}}</a>
    {% endfor %}
</div>
{% endblock %}

