{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% load markup %}

{% block content %}
<div class="post">
    <h2 class="title">
        <a href="/p/{{ post.slug }}/{{ post.language }}/">
            {{ post.title }}
        </a>
    </h2>
	<div class="tags">
		<p>
		<b>Tags:</b> 
		{% for tag in post.tags.all %}
			<a href="/tag/{{ tag.id }}/">{{ tag.tag }}</a>, 
		{% endfor %}
		</p>
	</div>
    <div class="entry">
        {# {{ post.content|markdown:'safe,codehilite,headerid(level=3),footnotes' }} #}
        {{ post.content_html|safe }}
    </div>
    <div class="byline">
        <p class="meta">
            {{ post.created|date:"SHORT_DATETIME_FORMAT" }}
            by 
            <a href="/author/{{ post.author.name }}">{{ post.author.name }}</a> 
        </p>
    </div>
</div>
<div class="comments">
	<h3 class="title">
        {{nr_comments}} comments
	</h3>
	{% for comment in comments %}
	<div class="comment">
		<h4>
            {% if comment.reader.url %}
			<a href={{ comment.reader.url }}>{{ comment.reader.name }}</a> says...
            {% else %}
            <b>{{ comment.reader.name }}</b> says...
            {% endif %}
		</h4>
		<div class="content">
			<p>
				{{ comment.content }}
			</p>
		</div>
	</div>
	{% endfor %}
</div>
{% if post.allow_comment %}
<div class="commentInput">
    {% if errormsg %}
    <p><b>{{ errormsg }}</b></p>
    {% endif %}
	<form action="/postcomment/{{ post.id }}/" method="post">
		{{ commentform.as_p}}
        <p> {{ captcha_img|safe }} </p>
        <p> <a href="{{ captcha_audio }}">Phonetic spelling (mp3)</a> 
        <p><input type="submit" value="Post"></p>
	</form>
</div>
{% endif %}

{% endblock %}

