{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% load markup %}

{% block content %}
<div class="post">
    <h2 class="title">
        <a href="/p/{{ post.slug }}/{{ post.language }}/">
            {{ post.title }}
        </a>
    </h2>
	<div class="tags">
		<p>
		<b>Tags:</b> 
		{% for tag in post.tags.all %}
			<a href="/tag/{{ tag.id }}/">{{ tag.tag }}</a>, 
		{% endfor %}
		</p>
	</div>
    <div class="entry">
        {# {{ post.content|markdown:'safe,codehilite,headerid(level=3),footnotes' }} #}
        {{ post.content_html|safe }}
    </div>
    <div class="byline">
        <p class="meta">
            {{ post.created|date:"SHORT_DATETIME_FORMAT" }}
            by 
            <a href="/author/{{ post.author.name }}">{{ post.author.name }}</a> 
        </p>
		<p class="share">
			<!-- Place this tag where you want the +1 button to render -->
			<g:plusone size="small" annotation="inline" href="{{ config.link }}p/{{ post.slug }}/{{ post.language }}/"></g:plusone>

			<!-- Place this render call where appropriate -->
			<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
			</script>
		</p>

		<p class="share">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ config.link }}p/{{ post.slug }}/{{ post.language }}/" data-via="monnand">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</p>

		<p class="share">
			<!-- JiaThis Button BEGIN -->
			<div id="ckepop">
			<a href="http://www.jiathis.com/share?uid=1567745" class="jiathis jiathis_txt" target="_blank"><img src="http://v2.jiathis.com/code_mini/images/btn/v1/jiathis2.gif" border="0" /></a>
			<a class="jiathis_counter_style_margin:3px 0 0 2px"></a>
			</div>
			<script type="text/javascript" >
			var jiathis_config={
				data_track_clickback:true,
				url:"{{ config.link }}p/{{ post.slug }}/{{ post.language }}/",
				summary:"",
				title:"{{ post.title }} ##",
				hideMore:false
			}
			</script>
			<script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js?uid=1567745" charset="utf-8"></script>
			<!-- JiaThis Button END -->
		</p>

    </div>
</div>
<div class="comments">
	<h3 class="title">
        {{nr_comments}} comments
	</h3>
	{% for comment in comments %}
	<div class="comment">
		<h4>
            {% if comment.reader.url %}
			<a href={{ comment.reader.url }}>{{ comment.reader.name }}</a> says...
            {% else %}
            <b>{{ comment.reader.name }}</b> says...
            {% endif %}
		</h4>
		<div class="content">
			<p>
				{{ comment.content }}
			</p>
		</div>
	</div>
	{% endfor %}
</div>
{% if post.allow_comment %}
<div class="commentInput">
    {% if errormsg %}
    <p><b>{{ errormsg }}</b></p>
    {% endif %}
	<form action="/postcomment/{{ post.id }}/" method="post">
		{{ commentform.as_p}}
        <p> {{ captcha_img|safe }} </p>
        <p> <a href="{{ captcha_audio }}">Phonetic spelling (mp3)</a> 
        <p><input type="submit" value="Post"></p>
	</form>
</div>
{% endif %}

{% endblock %}

