{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% load markup %}

{% block content %}

{% for post in posts %}
<div class="post">
    <h2 class="title">
        <a href="/p/{{ post.slug }}/{{ post.language }}/">
            {{ post.title }}
        </a>
    </h2>
    <div class="entry">
        {# {{ post.content|markdown:'safe,codehilite,headerid(level=2),footnotes' }} #}
        {{ post.abstract|safe }}
    </div>
    <div class="byline">
        <p class="meta">
            {{ post.created|date:"SHORT_DATETIME_FORMAT" }}
            by 
            <a href="author/{{ post.author.name }}">{{ post.author.name }}</a> 
        </p>
        <p class="links">
            <a href="/p/{{ post.slug }}/{{ post.language }}/">Read More</a>
        </p>
    </div>
</div>
{% endfor %}

<div class="pagelist">
    Pages: 
    {% for pgn in pages %}
    <a href="/l/{{pgn}}/{{postsperpage}}/">{{pgn}}</a>, 
    {% endfor %}
</div>
<div style="clear: both;">&nbsp;</div>
{% endblock %}

