{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% load markup %}

{% block content %}

{% for post in posts %}
<div class="post">
    <h2 class="title">
        <a href="/p/{{ post.slug }}/{{ post.language }}/">
            {{ post.title }}
        </a>
    </h2>

	<div class="tags">
		<p>
		<b>Tags:</b> 
		{% for tag in post.tags.all %}
			<a href="/tag/{{ tag.id }}/">{{ tag.tag }}</a>, 
		{% endfor %}
		</p>
	</div>

    <div class="entry">
        {# {{ post.content|markdown:'safe,codehilite,headerid(level=2),footnotes' }} #}
        {{ post.abstract|safe }}
    </div>
    <div class="byline">
        <p class="meta">
            {{ post.created|date:"SHORT_DATETIME_FORMAT" }}
            by 
            <a href="author/{{ post.author.name }}">{{ post.author.name }}</a> 
        </p>
        <p class="links">
		<a href="/p/{{ post.slug }}/{{ post.language }}/">Read More</a> |
		<a href="/p/{{ post.slug }}/{{ post.language }}/">Comment</a>
        </p>

		<p class="share">
			<!-- Place this tag where you want the +1 button to render -->
			<g:plusone size="small" annotation="inline" href="{{ config.link }}p/{{ post.slug }}/{{ post.language }}/"></g:plusone>

			<!-- Place this render call where appropriate -->
			<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
			</script>
		</p>
    </div>
</div>
{% endfor %}

<div class="pagelist">
    Pages: 
    {% for pgn in pages %}
        {% if url_before_pgn %}
            {% if url_after_pgn %}
                <a href="/{{ url_before_pgn }}/{{pgn}}/{{url_after_pgn}}/">{{pgn}}</a>, 
            {% else %}
                <a href="/{{ url_before_pgn }}/{{pgn}}/">{{pgn}}</a>, 
            {% endif %}
        {% else %}
            {% if url_after_pgn %}
                <a href="/{{pgn}}/{{url_after_pgn}}/">{{pgn}}</a>, 
            {% else %}
                <a href="/{{pgn}}/">{{pgn}}</a>, 
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<div style="clear: both;">&nbsp;</div>
{% endblock %}

